@media (prefers-color-scheme: light) {
  #light-scheme-icon { display: inline; }
  #dark-scheme-icon { display: none; }
}

@media (prefers-color-scheme: dark) {
  #light-scheme-icon { display: none; }
  #dark-scheme-icon { display: inline; }
}


// Custom animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}