.custom-product-materials {
    .materials-container {
        span {
            font-size: 0.8rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.2s ease-in-out;
            width: fit-content;
            padding: 0.2rem 0.6rem;
            border: 1.5px solid $dark;
            border-radius: 6px;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}


.related-entity {
    span {
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s ease-in-out;
        max-width: 240px; /* Adjust this value as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    &:hover {
        transform: scale(1.05);
        span {
            border-bottom: 2px solid $dark;
        }
    }
}