.dropdown,
.dropup,
.dropstart,
.dropend {
  .dropdown-menu {
    transition: opacity 0.4s ease-in-out;
  }
}

.dropdown {
  &.dropdown-hover .dropdown-menu,
  .dropdown-menu {
    background: linear-gradient($gray-100, $white);
    border: 1px solid $gray-200;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
  }

  &.dropdown-hover:hover > .dropdown-menu,
  .dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    // Remove or modify this transform
    //transform: $dropdown-transform-show;
  }
}

.dropdown {
  .dropdown-toggle {
    &:focus,
    &:active,
    &:hover,
    &.show {
      border: none;
      box-shadow: none;
      outline: none;
    }

    // Remove the default Bootstrap focus ring
    &:focus-visible {
      outline: 0;
    }
  }
}

.dropdown-popper-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient($gray-100, $white);
  transform: rotate(45deg);
  top: -5px; /* Positions the arrow at the top of the dropdown */
  left: 20px; /* Adjust this value to move the arrow horizontally */
  border-left: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  z-index: 1;
}
