.icon-container {
    --icon-size: 40px; // Default value
    --icon-margin-top: 0px; // Default value
    --icon-margin-bottom: 0px; // Default value
    --icon-margin-left: 10px; // Default value
    --icon-margin-right: 10px; // Default value
    height: 42px;
    width: 42px;

    div {
        height: 40px;
        width: 40px;
        min-width: 40px;
        min-height: 40px;
    }
    i {
        margin-top: var(--icon-margin-top);
        margin-bottom: var(--icon-margin-bottom);
        margin-left: var(--icon-margin-left);
        margin-right: var(--icon-margin-right);
        font-size: calc(var(--icon-size) * 0.45);
    }
}
.name-container{
    .icon-name{
        font-size: 0.9rem;
        margin-top: 0;
        margin-bottom: -4px;
    }
    .icon-id{
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 0.7rem;
    }
}