// Vertical navbar (top level)
.navbar-vertical {

  // side nav header
  .sidenav-header {
    height: $sidenav-header-height;

    // brand logo paddings
    .navbar-brand {
      padding: 1.5rem 2rem;
    }
  }

  // for images, invert the colour 20% to make it more compatible with the text colours
  .navbar-brand>img,
  .navbar-brand-img {
    filter: invert(20%);
    max-width: 100%;
    max-height: 2rem;
  }

  //(SideNav List for the side menu - second level)
  .navbar-collapse {
    display: block;
    overflow: auto;
    height: $navbar-vertical-inner;

    // Navbar navigation (third level)
    .navbar-nav {
      flex-direction: column !important;
      padding-bottom: 1rem;

      // Navbar navigation (fourth level)
      .nav-item {
        width: 100%;
        margin-top: 0.125rem;

        // actual route link (fifth level)
        .nav-link {
          display: flex;
          align-items: center;
          white-space: nowrap;
          cursor: pointer;
          padding-left: $navbar-padding-x;
          padding-right: $navbar-padding-x;
          font-weight: $navbar-nav-link-font-weight;
          color: $font-color;
          padding-top: $navbar-vertical-nav-link-padding-y;
          padding-bottom: $navbar-vertical-nav-link-padding-y;
          margin: 0 $navbar-vertical-nav-link-padding-x;

          // Apply active styless:
          transition: all $transition-base ease;

          // when the dropdown menu is opened, then toggle it down
          .dropdown-arrow {
            transition: transform .5s ease;

            &.open {
              transform: rotate(180deg);
            }
          }

          &.active {
            margin-left: $navbar-vertical-nav-link-padding-x;
            transform: scale(1.2);
            font-weight: 600;
          }

          .nav-link-text,
          .sidenav-normal,
          i {
            pointer-events: none;
          }

          // give icon a gradient grey
          .icon {
            @include gradient-directional(nth($light, 1) 0%, nth($light, -1) 100%, $deg: 310deg);

            .ni {
              top: 0;
            }

            svg {
              .color-background {
                fill: $dark-gradient-state;
              }

              .color-foreground {
                fill: $dark-gradient;
              }
            }
          }
        }

        .dropdown-links {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          margin-left: $navbar-vertical-nav-link-padding-x + 1.8rem;
          margin-right: $navbar-vertical-nav-link-padding-x + 1.8rem;
          transition: max-height 0.4s ease, opacity 0.3s ease 0.1s, margin-top 0.4s ease, margin-bottom 0.4s ease; // transition on closing the container 
          margin-top: 0;
          margin-bottom: 0;
        
          &.open {
            opacity: 1;
            max-height: 1000px; // Adjust this value based on your content
            display: flex;
            flex-direction: column;
            width: 100%;
            cursor: pointer;
            gap: .5rem;
            margin-bottom: .6rem;
            transition: max-height 0.4s ease, opacity 0.3s ease 0.1s, margin-top 0.4s ease, margin-bottom 0.4s ease; // on opening the container
          }
        
          .dropdown-link-item {
            font-weight: $navbar-nav-link-font-weight;
            font-size: $font-size-base;
            transition: transform 0.1s;

            i {
              opacity: 1;
              font-size: $navbar-vertical-collapse-dot-size;
              margin-right: 28px;
            }
        
            &:hover {
              transform: scale(1.05) translateX(8px);
              transition: transform 0.1s;
              font-weight: bold;
            }
        
            &.active {
              font-weight: bold;
        
              i {
                font-size: $navbar-vertical-collapse-dot-size-active;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  // Expanded navbar specific styles (applys to Thinbar and the sidenav menu)
  // showing a fixed expanded state of the navbar
  &.navbar-expand {
    @each $breakpoint, $dimension in $grid-breakpoints {
      &-#{$breakpoint} {
        @include media-breakpoint-up(#{$breakpoint}) {
          display: block; // displaying the contends on different lines with the same width
          position: fixed; // fixed position
          top: 0;
          bottom: 0;
          width: 100%;
          max-width: $navbar-vertical-open-width !important; // max width of a closure state
          overflow-y: auto;
          padding: 0;
          box-shadow: none;
        }
      }
    }
  }

  // side nav footer cards will have a overlay effects for the img
  .sidenav-footer {
    .card {
      &.card-background {
        &:after {
          opacity: $sidenav-card-opacity;
        }
      }
    }
  }

  // Styles based on background colours of the menu
  &.bg-white {
    box-shadow: $card-box-shadow;
  }

  //when the menu backgroun colour is transparent
  &.bg-transparent {
    box-shadow: none;
  }

  // which the colour of the menu svg when being active
  .navbar-nav>.nav-item .nav-link.active {
    color: $dark;

    .icon {

      // margin-left: .8rem; (Needs to dynamically call if user needs to stablise the navbar)
      svg {

        .color-background,
        .color-foreground {
          fill: $white;
        }
      }
    }
  }
}


// main content's container' cooperation with the side nav's expansion and collapsing
.main-content,
.sidenav {
  transition: $transition-base;
}

.main-content {
  z-index: 999;
}

// Sidenav (menu) specific style
.sidenav {
  z-index: 1000; // always on top

  @each $color, $value in $theme-gradient-colors {

    // if the user defined data-colour HTML attribute is matching, then apply the style of the nav colour
    &[data-color="#{$color}"] {
      .navbar-nav>.nav-item>.nav-link.active .icon {
        @include gradient-directional(nth(#{$value}, 1) 0%, nth(#{$value}, -1) 100%, $deg: 40deg);
      }
    }
  }

  // Menu's brand takes up a new line
  .navbar-brand {
    display: block;
  }

  // Menu will slide open when user hover over the menu
  @include media-breakpoint-up(md) {
    &:hover {
      max-width: $navbar-vertical-open-width;
    }

    // style of the toggler function for nested menu directory (UNUSED)
    .sidenav-toggler {
      padding: 1.5rem;
    }

    // with side nav on the left, main content has left margin
    &.fixed-start~.main-content {
      margin-left: $navbar-vertical-open-width + 1.5;
    }
  }
}


// Sidenav states: manages the main container where the sidenav is shown
// (main container on the index.html ROOT LEVEL)
.g-sidenav-show {

  // the sidenav (index.vue):
  .sidenav {
    .nav-item .collapse {
      height: auto;
      @include transition($transition-base);
    }

    // main nev directory
    .nav-link {
      transition: 0.3s ease;
      opacity: 1;
    }


    // where to the put the nested nav-links:

  }
}

// Small Screen handling (iphone 5 managements):
@include media-breakpoint-down(md) {
  .g-sidenav-show {

    // from right to left (RTL) supports on the displays
    // (move the container to the right to make more space for the nav)
    &.rtl {
      .sidenav {
        transform: translateX($navbar-vertical-open-width + 1.5);
      }
    }

    // from left to right (LTR) supports on the displays
    // (move the container to the left to make more space for the nav)
    &:not(.rtl) {
      .sidenav {
        transform: translateX(-($navbar-vertical-open-width + 1.5));
      }
    }

    // when the side menu is pinned to the start (fixed-start)
    .sidenav {
      &.fixed-start~.main-content {
        margin-left: 0 !important; // remove the margin from the start
      }
    }

    // when pinning the side navbar, the transformation brings the
    // sidenav back into the view
    &.g-sidenav-pinned {
      .sidenav {
        transform: translateX(0);
      }
    }
  }
}


// Transition styles
.navbar-vertical {
  .navbar-brand {

    // animation on hiding the brand span
    .navbar-brand-img,
    span {
      @include transition($transition-base);
    }
  }

  // for the mini icons (UNUSED)
  .nav-item {
    .nav-link {
      span.sidenav-mini-icon {
        @include transition($transition-base);
        text-align: center;
        width: 0;
      }
    }
  }

  // transimition on opening the docs information on the side nav
  .docs-info {
    @include transition($transition-base);
  }
}

// Controls the style when the Menu is hidden (the default 
// style when user is logged in)
@include media-breakpoint-up(md) {

  .g-sidenav-hidden {
    .navbar-vertical {
      max-width: $navbar-vertical-hidden-width !important;

      &.fixed-start~.main-content {
        margin-left: $navbar-vertical-hidden-width + 1.5; // main content will always be 1.5px away from the side menu
      }

      // hide nav-brand's title & Enlarge the width of the image
      .navbar-brand {
        img {
          width: auto !important;
        }

        span {
          opacity: 0;
        }
      }

      // show the nav link's icon only, hide the text, not
      // showing a white background and shadow for such 
      .nav-item {
        .nav-link {
          &.active {
            box-shadow: none;
            background-color: transparent;
          }

          i {
            display: none;
          }

          .icon {
            padding: 10px;
          }

          .nav-link-text,
          .sidenav-normal {
            opacity: 0;
            width: 0;
          }
        }

        .dropdown-links {
          display: none;
        }
      }

      // hide the texts the sidenav footerfor both card & button
      .sidenav-footer .btn {
        padding: auto;

        .fa {
          font-size: 1.2rem;
          margin-left: 5px;
        }

        .docs-info {
          display: none;
        }
      }

      .card.card-background {
        .icon-shape {
          margin-bottom: 0 !important;
        }

        .docs-info {
          display: none;
        }
      }

      // On hovering, show all the information available in the menu
      &:hover {
        max-width: $navbar-vertical-open-width !important;

        &.fixed-start~.main-content {
          margin-left: $navbar-vertical-open-width + 1.5;
        }

        .navbar-brand {
          span {
            opacity: 1;
          }
        }

        .nav-item {
          .nav-link {
            i {
              display: block;
            }

            .nav-link-text,
            .sidenav-normal {
              opacity: 1;
              width: auto;
            }
          }

          .dropdown-links {
            display: block;

            .dropdown-link-item {
              display: block;
            }
          }
        }

        .dropdown-links {
          display: none;

          &.open {
            display: flex;
          }
        }

        &.bg-transparent {
          .navbar-nav .nav-link.active {
            background-color: $white;
            box-shadow: $box-shadow-sm;
            margin: 4px $navbar-vertical-nav-link-padding-x + 1;
            border-radius: $navbar-nav-link-border-radius;
          }
        }

        .sidenav-footer .btn {
          .fa {
            font-size: 1.2rem;
            margin-left: 0;
          }

          .docs-info {
            display: inline-block;
            width: auto;
            height: auto;
          }
        }

        .card.card-background {
          .icon-shape {
            margin-bottom: 1rem !important;
          }

          .docs-info {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}

// manages the padding when user decides to pin the menu, not toggled on hover
// align the active styles
@include media-breakpoint-up(md) {
  .g-sidenav-show:not(.g-sidenav-hidden){
    .navbar-vertical {
      .nav-link{
        &.active{
          .icon{
            margin-left: 12px;
          }
        }
      }
    }
  }
}