.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    
    &::-webkit-scrollbar {
      display: none; /* WebKit browsers (Chrome, Safari) */
    }
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 7px;  /* Set the width for vertical scrollbar */
  height: 7px; /* Set the height for horizontal scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Darker thumb for visibility */
  border-radius: 10px; /* Rounded corners */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* no scrolling track */
}