.search-text-input {
    input {
        border: none;
        border-bottom: 2px solid $gray-300;
        border-radius: 0;
        outline: none;
        transition: border-color 0.3s ease;
        color: $dark;
        font-weight: 600;
        
        &::placeholder {
            color: $gray-400;
        }

        &:focus,
        &:active {
            border: none;
            border-bottom: 2px solid $dark;
            outline: none;
            box-shadow: none;
        }
    }
}