.stats-card{
    cursor: pointer;
    p,span{
        transform: scale(1);
        transition: transform .3s ease-in-out;
    }
    .icon{
        transform: scale3d(1, 1, 1);
        transition: transform .3s ease-in-out;
    }

    .icon-shape{
        min-width: $icon-md-width;
        min-height: $icon-md-height;
    }

    :hover{
        .icon{
            transform: scale3d(1.05, 1.05, 1.05);
            transition: transform .3s ease-in-out;
        }
        p, span{
            transform: scale(1.05);
            transition: transform .3s ease-in-out;
        }
    }

}
