
// horizontal lines
.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

// ensure each step item is using the same spaces (flex:1)
.step-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

// adding spaces between hr lines and the icons
.step-icon-wrapper {
    z-index: 2;
    background-color: white;
    padding: 0 10px;
    scale: 1;
    :hover{
        scale: 1.3;
        transition: 0.2s ease-in-out;
    }
}
.step-icon {
    height: 40px;
    width: 40px;

    :hover{
        scale: 1;
        font-weight: 600;
        transition: 0.2s ease-in-out;
    }
}
// title should take aboslute positions at the bottom of the icon (avoid affects
// on the legnth of the horizontal line)
.step-title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
}
.hr-line {
    position: absolute;
    top: 50%;
    left: calc(50% + 18px);
    /* Half icon width */
    right: calc(-50% + 18px);
    height: 2px;
    background-color: #e9ecef;
    z-index: 1;
}


// vertical Lines
.timeline {
    position: relative;

    // Axis

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: $timeline-left;
        height: 100%;
        border-right: $timeline-axis-width solid $timeline-axis-color;
    }
}



// Timeline blocks

.timeline-block {
    position: relative;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// Timeline steps

.timeline-step {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: $timeline-step-width;
    height: $timeline-step-height;
    border-radius: $timeline-step-radius;
    background: $timeline-step-bg;
    // border: $timeline-step-border-width solid $timeline-step-border-color;
    text-align: center;
    transform: $timeline-step-transform;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    z-index: 1;

    svg,
    i {
        line-height: $timeline-step-line-height;
    }
}



// Timeline content and body
.timeline-content {
    position: relative;
    margin-left: $timeline-content-margin-left;
    padding-top: $timeline-content-padding-top;
    position: relative;
    top: $timeline-content-top;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


@include media-breakpoint-up(lg) {
    .timeline {
        &:before {
            left: 50%;
            margin-left: -1px;
        }
    }

    .timeline-step {
        left: 50%;
    }

    .timeline-content {

        width: 38%;
    }

    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
}

// One side timeline

.timeline-one-side {
    &:before {
        left: $timeline-left;
    }

    .timeline-step {
        left: $timeline-left;
    }

    .timeline-content {
        width: auto;
    }

    @include media-breakpoint-up(lg) {
        .timeline-content {
            max-width: 30rem;
        }
    }
}

.timeline-one-side .timeline-block:nth-child(even) .timeline-content {
    float: none;
}