.bs-tooltip-auto[x-placement^=right] .tooltip-arrow,
.bs-tooltip-right .tooltip-arrow {
  left: $tooltip-arrow-left;
}

.bs-tooltip-auto[x-placement^=left] .tooltip-arrow,
.bs-tooltip-left .tooltip-arrow {
  right: $tooltip-arrow-right;
}

// invlaid tooltips for inputs
.invalid-tooltip {
  max-width: 90%;
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
  word-wrap: break-word;
}